<div class="sidebar sidebar__content animate__animated animate__fadeIn">
  <div class="indicator__navegation">Navegación</div>
  <div class="list__menu__options">
    <% if(pagesInactive) { %>
      <a href="/" class="option__active"><i class="fas fa-home"></i>Inicio</a>
      <a href="/peliculas"><i class="fas fa-laptop"></i>Peliculas</a>
      <a href="/series"><i class="fas fa-video"></i>Series</a>
    <% } else { %>
      <a href="/"><i class="fas fa-home"></i>Inicio</a>
      <% if(section == 'Peliculas') { %>
      <a href="/peliculas" class="option__active"><i class="fas fa-laptop"></i>Peliculas</a>
      <a href="/series"><i class="fas fa-video"></i>Series</a>
      <% } else if(section == 'Series') { %>
      <a href="/peliculas"><i class="fas fa-laptop"></i>Peliculas</a>
      <a href="/series" class="option__active"><i class="fas fa-video"></i>Series</a>
      <% } else { %>
        <a href="/peliculas"><i class="fas fa-laptop"></i>Peliculas</a>
      <a href="/series"><i class="fas fa-video"></i>Series</a>
      <% } %>
    <% } %>
    
    <% let veriGenero = ''; %>
    <% let veriYear = ''; %>
    <% if(genreIndicate) { %>
      <% if(yearActive) { %>
        <% veriYear = ' option__active'; %>
      <% } else { %>
        <% veriGenero = ' option__active'; %>
      <% } %>
    <% } %>
    <a class="genres__extend__button<%= veriGenero %>"
      ><i class="fas fa-list-ul"></i>Géneros
      <span class="multiple__options"
        ><i class="fas fa-caret-right"></i></span
    ></a>
    <% if(veriGenero != '') { %>
      <div id="myDropdown" class="dropdown-content" style="display: block;">
        <a class="wave" href="/generos/Acción">Acción</a>
        <a class="wave" href="/generos/Animación">Animación</a>
        <a class="wave" href="/generos/Aventura">Aventura</a>
        <a class="wave" href="/generos/Ciencia Ficción">Ciencia Ficción</a>
        <a class="wave" href="/generos/Comedia">Comedia</a>
        <a class="wave" href="/generos/Crimen">Crimen</a>
        <a class="wave" href="/generos/">Documental</a>
        <a class="wave" href="/generos/Drama">Drama</a>
        <a class="wave" href="/generos/Fantasía">Fantasía</a>
        <a class="wave" href="/generos/Foreign">Foreign</a>
        <a class="wave" href="/generos/Guerra">Guerra</a>
        <a class="wave" href="/generos/Historia">Historia</a>
        <a class="wave" href="/generos/Pelicula De La Televisión">Pelicula De La Televisión</a>
        <a class="wave" href="/generos/Romance">Romance</a>
        <a class="wave" href="/generos/Suspenso">Suspenso</a>
        <a class="wave" href="/generos/Terror">Terror</a>
        <a class="wave" href="/generos/Western">Western</a>
        <a class="wave" href="/generos/Misterio">Misterio</a>
      </div>
    <% } else { %>
      <div id="myDropdown" class="dropdown-content">
        <a class="wave" href="/generos/Acción">Acción</a>
        <a class="wave" href="/generos/Animación">Animación</a>
        <a class="wave" href="/generos/Aventura">Aventura</a>
        <a class="wave" href="/generos/Ciencia Ficción">Ciencia Ficción</a>
        <a class="wave" href="/generos/Comedia">Comedia</a>
        <a class="wave" href="/generos/Crimen">Crimen</a>
        <a class="wave" href="/generos/">Documental</a>
        <a class="wave" href="/generos/Drama">Drama</a>
        <a class="wave" href="/generos/Fantasía">Fantasía</a>
        <a class="wave" href="/generos/Foreign">Foreign</a>
        <a class="wave" href="/generos/Guerra">Guerra</a>
        <a class="wave" href="/generos/Historia">Historia</a>
        <a class="wave" href="/generos/Pelicula De La Televisión">Pelicula De La Televisión</a>
        <a class="wave" href="/generos/Romance">Romance</a>
        <a class="wave" href="/generos/Suspenso">Suspenso</a>
        <a class="wave" href="/generos/Terror">Terror</a>
        <a class="wave" href="/generos/Western">Western</a>
        <a class="wave" href="/generos/Misterio">Misterio</a>
      </div>
    <% } %>
    <a class="year__extend__button<%= veriYear %>"><i class="fab fa-autoprefixer"></i>Año<span class="multiple__options"
      ><i class="fas fa-caret-right"></i></span
  ></a>
  <% if(veriYear != '') { %>
    <div id="myDropdown2" class="dropdown-content2" style="display: block;">
      <div class="options__year__content">
        <% for(let i = 2021; i >= 1929; i--) { %>
          <a class="year__option" href="/year/<%= i %>"><%= i %></a>
        <% } %>
      </div>
    </div>
  <% } else { %>
    <div id="myDropdown2" class="dropdown-content2">
      <div class="options__year__content">
        <% for(let i = 2021; i >= 1929; i--) { %>
          <a class="year__option" href="/year/<%= i %>"><%= i %></a>
        <% } %>
      </div>
    </div>
  <% } %>
  
  </div>
</div>
<% if(genreIndicate) { %>
  <% if(!yearActive) { %>
    <script> 
      let generoSelected = '<%= genero %>';
      let containerGenres = document.querySelector('.dropdown-content');
      let vecChildrens = containerGenres.querySelectorAll('.wave');
      vecChildrens.forEach((item) => {
        if(item.textContent == generoSelected) {
          item.classList.add('option__active');
        }
      });
    </script>
  <% } else { %>
    <script>
      let yearSelected = '<%= year %>';
      let containerYears = document.querySelector('.dropdown-content2');
      let vecChildrensY = containerYears.querySelectorAll('.year__option');
      vecChildrensY.forEach((item) => {
        if(item.textContent == yearSelected) {
          item.classList.add('option__active');
        }
      });
    </script>
  <% } %>
<% } %>